@media screen and (max-width: 1024px) {
  .home_container {
    &__box_header {
      justify-content: space-around;
    }
    &__box_form__form__container {
      &__box_one,
      &__box_two {
        flex-direction: column;
      }
      &__box_two__input_bloc:nth-child(2) {
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home_container__box_form__form__container {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .home_container__box_form__form__container {
    align-items: center;
    flex-direction: column;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .main_logo {
    animation: spin-logo infinite 59s linear;
  }
}
