@use "./_vars" as v;
@import "./vendor/normalize.scss";
@import "./media/style.scss";

body {
  font-family: "Times New Roman", Times, serif;
  background: #f8f8f8;
}

fieldset {
  width: 250px;
}
legend {
  text-align: left;
}
input,
select {
  border: 2px solid black !important;
  border-radius: 5px;
  padding: 0.5rem;
}
input:focus,
select:focus:hover {
  outline: none;
  border: 2px solid v.$color !important;
}
