@use "./vars" as v;

@keyframes spin-logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes card-shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 3px 4px 9px -2px rgba(199, 231, 36, 0.37);
  }
  100% {
    box-shadow: 7px 8px 18px -4px rgba(255, 255, 255, 0.75);
  }
}
