$color: #6b8027;
$colorLight: #93ad15;
$shadowBlack: 7px 8px 18px -4px rgba(0, 0, 0, 0.75);
$shadowWhite: 7px 8px 18px -4px rgba(255, 255, 255, 0.75);
$whiteborder: 2px solid #fff;
$blackborder: 2px solid #000;
$textShadowBlack: 1px 1px 1px #000;
$textShadowWhite: 1px 1px 1px rgb(255, 255, 255);
